.team-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2.5rem;
}

.team-container section h1 {
    color: #4b7c4c;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.meet-the-team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.minds-behind-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-between;
}

.photo-add {
    width: 18rem;
}

@media (min-width: 769px) {
    .photo-add {
        width: 20rem;
    }

    .minds-behind-container {
        flex-direction: row;
    }

    .minds-behind-container div {
        margin: 1rem;
    }

    .team-container {
        margin: 5rem;
    }
}

@media (min-width: 1300px) {
    .minds-behind-container {
        margin-left: 9rem;
        margin-right: 9rem;
    }
    
    .minds-behind-container div p {
        font-size: 1.25rem;
    }
}